* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quote-box {
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1568667256549-094345857637?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D")
    center no-repeat;
  opacity: 0.75;
  filter: blur(8);
}
.add-quote {
  font-size: 2rem;
  line-height: 1.8rem;
  height: 20%;
  text-align: center;
}
label {
  font-size: 1.5rem;
}
button {
  width: 7rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  height: 3rem;
  cursor: pointer;
  transition: background-color, 1s, smooth, transform 0.1s ease;
  padding: 1rem;
}
button:hover {
  background-color: rgb(156, 156, 51);
  color: black;
}
.heading {
  margin: 1rem;
}
